@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kumbh+Sans:wght@100..900&family=Lexend+Deca:wght@100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tagesschrift&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap");

:root {
  --Red-400: hsl(7, 99%, 70%);
  --Green-500-footer: hsl(167, 34%, 41%);
  --White: hsl(0, 100%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(245, 245, 245);
}

.calculator-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  background-color: rgb(35, 37, 44);
  padding: 2rem 0rem 0rem 0rem;
  border-radius: 20px;
}

.calculator-app.light {
  background-color: rgb(255, 255, 255);
  color: black;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

.calculator-app.dark {
  background-color: rgb(35, 37, 44);
}

.toggle-switch {
  background-color: rgb(43, 45, 54);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  padding: 0.5rem 0.9rem;
  border-radius: 20px;
}

.calculator-app.light .toggle-switch {
  background-color: rgb(249, 249, 249);
}

.calculator-display {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 150px;
  height: 300px;
  width: 100%;
  /* background-color: #1e1e1e; */
  margin-top: 1rem;
  background-color: rgb(35, 37, 44);
  padding: 1.5rem;
  box-sizing: border-box;
}

.calculator-app.light .calculator-display {
  color: rgb(35, 37, 44);
}

.display-contents {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.calculator-app.light .calculator-display {
  background-color: rgb(255, 255, 255);
}

.expression-input {
  font-size: 1.3rem;
  font-weight: 500;
  background: none;
  border: none;
  color: white;
  text-align: right;
  width: 100%;
  text-align: right;
  word-break: break-word;
  overflow-wrap: break-word;
}

.calculator-app.dark .expression-input {
  color: var(--White);
}

.result {
  font-size: clamp(1.8rem, 5vw, 2.3rem);
  font-weight: bold;
  color: var(--White);
  width: 100%;
  text-align: right;
  word-break: break-word;
  overflow-wrap: break-word;
}

.calculator-app.light .result,
.expression-input {
  color: rgb(35, 37, 44);
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem 0rem 1.5rem 2rem;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgb(43, 45, 54);
}

.calculator-app.light .button-container {
  background-color: rgb(249, 249, 249);
  color: #1e1e1e;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.button {
  border: none;
  background-color: rgb(41, 43, 50);
  color: var(--White);
  font-size: 1.5rem;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  box-shadow: 10px 5px 10px rgb(42, 45, 51);
}

.calculator-app.light .button {
  background-color: rgb(247, 247, 247);
  box-shadow: 10px 5px 5px rgba(192, 184, 184, 0.1);
  color: rgb(35, 37, 44);
}

.calculator-app.light .button-operator-first {
  color: rgb(121, 240, 213);
}

.calculator-app.light .button-operator-right {
  color: rgba(239, 74, 65, 0.787);
}

.button:hover,
.moon:hover {
  background-color: rgb(53, 55, 64);
  cursor: pointer;
}

.button-operator-right {
  color: rgba(239, 74, 65, 0.787);
}

.button-operator-first {
  color: rgb(121, 240, 213);
}

.btn {
  border: none;
  background-color: rgb(43, 45, 54);
  padding: 0.6rem;
  border-radius: 10px;
}

.calculator-app.light .btn {
  background-color: rgb(247, 247, 247);
}

.calculator-app.light .btn:hover {
  background-color: rgba(235, 234, 234, 0.997);
}

.btn.active {
  background-color: rgb(53, 55, 64);
}
